body {
    background-color: black;
    color: white;
}
#img {
    position: fixed;
    bottom: 0%;
    left: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
#mainTxt{
    background-color: black;   
    border:1px solid;
    border-radius: 7px;
    height: 100px;
    bottom: 10%;
}